################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ctdiduo/bin
/ctdiduo/obj/Debug
/packages
/.vs/config
